<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="fileBasepath" source="logging.file.basepath"/>
    <springProperty scope="context" name="requestLevel" source="logging.web.request.level"/>
    <springProperty scope="context" name="securityLevel" source="logging.security.level"/>

    <springProperty scope="context" name="securityFileSize" source="logging.security.file.size"/>
    <springProperty scope="context" name="securityFileHistory" source="logging.security.file.history"/>
    <springProperty scope="context" name="securityFileSizeCap" source="logging.security.file.size.cap"/>

    <springProperty scope="context" name="requestFileSize" source="logging.request.file.size"/>
    <springProperty scope="context" name="requestFileHistory" source="logging.request.file.history"/>
    <springProperty scope="context" name="requestFileSizeCap" source="logging.request.file.size.cap"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{ISO8601} %highlight(%-5level) [%magenta(%t)] %yellow(%C{1.}): %msg%n%throwable
            </pattern>
        </encoder>
    </appender>

    <appender name="SECURITY-LOGS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${fileBasepath}/security.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${fileBasepath}/archived/security.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>${securityFileSize}</maxFileSize>
            <maxHistory>${securityFileHistory}</maxHistory>
            <totalSizeCap>${securityFileSizeCap}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="REQUEST-LOGS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${fileBasepath}/request.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${fileBasepath}/archived/request.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>${requestFileSize}</maxFileSize>
            <maxHistory>${requestFileHistory}</maxHistory>
            <totalSizeCap>${requestFileSizeCap}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <!-- SECURITY LOGS -->
    <logger name="nl.han.resttest.api.security" level="${securityLevel}" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SECURITY-LOGS"/>
    </logger>

    <logger name="org.springframework.security" level="${securityLevel}" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SECURITY-LOGS"/>
    </logger>

    <!-- REQUEST LOGS -->
    <logger name="org.springframework.web" level="${requestLevel}" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="REQUEST-LOGS"/>
    </logger>

    <logger name="org.hibernate" level="${sqlLevel}" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- ROOT -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APPLICATION-LOGS"/>
    </root>

</configuration>
